@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #DFF1E5;
  --background-start-rgb: 9, 19, 24;
  --background-end-rgb: 9, 19, 24;
  scroll-padding-top: 10px;
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
